import(runjags,coda,rjags) 
export(trace.plot,conv.diag, table.means,table.pvalues, BAnova, BANOVA.Bern, BANOVA.Bin, BANOVA.Multinomial, BANOVA.Normal, BANOVA.ordMultinomial, BANOVA.Poisson, BANOVA.T)
S3method(print,conv.diag)
S3method(print,BANOVA.Bern)
S3method(print,BANOVA.Bin)
S3method(print,BANOVA.Multinomial)
S3method(print,BANOVA.Normal)
S3method(print,BANOVA.ordMultinomial)
S3method(print,BANOVA.Poisson)
S3method(print,BANOVA.T)
S3method(print,summary.BANOVA.Bern)
S3method(print,summary.BANOVA.Bin)
S3method(print,summary.BANOVA.Multinomial)
S3method(print,summary.BANOVA.Normal)
S3method(print,summary.BANOVA.ordMultinomial)
S3method(print,summary.BANOVA.Poisson)
S3method(print,summary.BANOVA.T)
S3method(summary,BANOVA.Bern)
S3method(summary,BANOVA.Bin)
S3method(summary,BANOVA.Multinomial)
S3method(summary,BANOVA.Normal)
S3method(summary,BANOVA.ordMultinomial)
S3method(summary,BANOVA.Poisson)
S3method(summary,BANOVA.T)
S3method(predict,BANOVA.Bern)
S3method(predict,BANOVA.Bin)
S3method(predict,BANOVA.Multinomial)
S3method(predict,BANOVA.Normal)
S3method(predict,BANOVA.ordMultinomial)
S3method(predict,BANOVA.Poisson)
S3method(predict,BANOVA.T)

